html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

*:before, *:after {
  box-sizing: border-box; }

img {
  width: 100%; }

.list-inline {
  margin-left: 0px; }

.list-inline_li, #footer-top .project-gallery ul > li, #footer-top .companies ul > li {
  float: left;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden; }

header {
  height: 107px;
  background: #f6f8f9;
  font-size: 1.6rem;
  font-weight: normal; }
  header .navbar-brand {
    padding: 0px; }
  header .collapse.navbar-collapse {
    margin-top: 30px; }
  header .container {
    padding-left: 30px; }

.nav > li > a {
  padding: 10px 5px; }

.nav > li {
  padding: 0px 15px; }

header .nav li .active {
  border-bottom: 4px solid #008c44; }

header .nav a {
  color: #008c44;
  background: none; }
  header .nav a:hover {
    color: #0d0d0d;
    background: none; }
  header .nav a:active {
    background: none; }
  header .nav a:focus {
    background: none; }

#slider {
  border-bottom: 17px solid #008c44; }
  #slider .slide-top {
    margin-bottom: -1px; }
    #slider .slide-top .list-inline {
      margin-bottom: -38px;
      z-index: 99999;
      display: inline-block;
      position: inherit;
      background: #008c44;
      font-weight: bold; }
      #slider .slide-top .list-inline li {
        float: left;
        height: 38px;
        margin: 0px;
        overflow: hidden; }
      #slider .slide-top .list-inline li:nth-child(1) {
        padding-top: 10px;
        padding-left: 18px;
        padding-right: 35px;
        border-right: 1px solid #37423f; }
        #slider .slide-top .list-inline li:nth-child(1) span {
          margin-left: 18px;
          font-size: 16px;
          font-weight: bold; }
        #slider .slide-top .list-inline li:nth-child(1) .fa-map-o {
          font-size: 18px; }
      #slider .slide-top .list-inline li:nth-child(2) {
        font-weight: bold;
        padding-left: 18px;
        padding-right: 18px;
        border-right: 1px solid #37423f; }
        #slider .slide-top .list-inline li:nth-child(2) span {
          margin-top: -2px;
          margin-left: 18px;
          font-size: 20px; }
        #slider .slide-top .list-inline li:nth-child(2) .fa-mobile {
          margin-top: 2px;
          font-size: 30px; }
      #slider .slide-top .list-inline li:nth-child(3) {
        border-right: 1px solid #37423f;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px; }
        #slider .slide-top .list-inline li:nth-child(3) .fa-facebook-f {
          font-size: 20px;
          margin-top: 10px; }
      #slider .slide-top .list-inline li:nth-child(4) {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px; }
        #slider .slide-top .list-inline li:nth-child(4) .fa-linkedin {
          font-size: 20px;
          margin-top: 10px; }
      #slider .slide-top .list-inline a {
        color: #ffffff;
        text-decoration: none; }
  #slider .carousel_on {
    width: 100%;
    position: absolute;
    bottom: 116px;
    left: 50%;
    z-index: 15;
    padding-left: 0;
    margin-left: -50%;
    text-align: center;
    list-style: none; }
  #slider #carousel-example {
    background: #eee;
    margin-top: -1px; }
  #slider .carousel-control span {
    color: #1c7a49; }
  #slider .carousel-inner .item img {
    width: 100%; }
  #slider .carousel-caption {
    top: 35%; }
    #slider .carousel-caption h1 {
      font-size: 45px;
      font-weight: normal; }
  #slider .form-div .test {
    display: inline-block;
    display: -moz-inline-box;
    display: -webkit-inline-flex; }
  #slider .form-div .form-group {
    float: left;
    margin: 0;
    overflow: hidden;
    background: #111111;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
  #slider .form-div select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
  #slider .form-div .form-control {
    background: #111111;
    color: #ffffff;
    border-radius: 0px;
    border: none;
    height: 58px;
    font-size: 18px; }
  #slider .form-div .form-group:nth-child(1) select {
    min-width: 255px; }
  #slider .form-div .form-group:nth-child(2) select {
    min-width: 165px; }
  #slider .form-div .form-group:nth-child(3) select {
    min-width: 125px; }
  #slider .form-div .test .glyphicon {
    margin-left: -48px;
    color: #8dc63f; }
  #slider .form-div .custom-search {
    margin-left: 0px !important; }
  #slider .form-div button {
    border: none;
    border-radius: 0;
    background: #111111;
    height: 58px;
    font-size: 30px; }
  #slider .form-div .form-control, #slider .form-div button {
    box-shadow: none; }
    #slider .form-div .form-control:hover, #slider .form-div .form-control:focus, #slider .form-div .form-control:active, #slider .form-div button:hover, #slider .form-div button:focus, #slider .form-div button:active {
      box-shadow: none; }
  #slider .form-div button:focus {
    outline: 0; }

#read {
  background: #efefef;
  padding-top: 52px; }
  #read h3 {
    font-size: 25px;
    margin-top: 34px;
    margin-bottom: 67px; }
  #read h5 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 18px; }
  #read p {
    margin-bottom: 38px; }
    #read p a {
      color: #008c44;
      text-decoration: none;
      font-size: 15px; }

#ongoing_project {
  padding-top: 60px; }
  #ongoing_project span {
    float: right;
    right: 15px;
    font-size: 12px;
    color: #359e69; }
  #ongoing_project .ongoing_div {
    display: inline-block;
    border: 1px solid #c4c4c4;
    padding-bottom: 25px; }
  #ongoing_project h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
    color: #111111; }
  #ongoing_project h5 {
    font-size: 18px;
    margin-top: 30px;
    font-weight: normal;
    margin-bottom: 15px; }
  #ongoing_project h6 {
    font-size: 15px;
    line-height: 20px; }

#completed-project .container-fluid {
  background-image: url("../images/completed/Layer-13-copy1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  padding-bottom: 35px; }
#completed-project h4 {
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 40px; }
#completed-project .list_div {
  display: inline-block; }
  #completed-project .list_div h5 {
    font-size: 24px;
    margin-top: 30px; }
  #completed-project .list_div h6 {
    font-size: 15px;
    line-height: 20px; }
#completed-project span.glyphicon {
  color: #359e69;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 25px; }
#completed-project .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-bottom: 5px solid #8dc63f; }
#completed-project .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all .4s ease-in-out;
  transition: all 0.4s ease-in-out; }
#completed-project .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }
#completed-project .hovereffect h2 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 25px;
  margin-top: 0px;
  top: 48%;
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px; }
#completed-project .hovereffect:hover {
  border-left: 2px solid #8dc63f;
  border-top: 2px solid #8dc63f;
  border-right: 2px solid #8dc63f;
  border-bottom: 7px solid #8dc63f; }
#completed-project .hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
#completed-project .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }
#completed-project .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0); }

#news_event {
  color: #ffffff;
  background: #008c44;
  padding-top: 58px;
  padding-bottom: 64px; }
  #news_event .carousel-caption {
    top: 70px;
    left: 64px;
    text-align: left; }
    #news_event .carousel-caption p {
      font-size: 15px; }
  #news_event .carousel-indicators {
    top: 106.25%; }
  #news_event .carousel-indicators li {
    background: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    margin-right: 2px; }
  #news_event .carousel-indicators li.active {
    background: #292a28;
    border: none;
    height: 15px;
    width: 15px; }
  #news_event .carousel-inner {
    border: 1px solid #6d9339; }
  #news_event .item {
    background: #000000; }
    #news_event .item img {
      opacity: 0.3; }
  #news_event h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 25px; }
    #news_event h3 span {
      float: right; }
      #news_event h3 span a {
        color: #000000;
        font-size: 14px;
        text-decoration: underline; }
  #news_event .media {
    padding-top: 20px;
    margin-top: 0px;
    display: inline-block;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    width: 100%; }
  #news_event .media-left img {
    height: 100%;
    width: auto; }
  #news_event .media-body {
    padding-top: 10px;
    padding-left: 15px; }
    #news_event .media-body h4 {
      font-size: 15px;
      font-weight: normal;
      text-transform: uppercase; }
    #news_event .media-body p {
      font-size: 15px; }
    #news_event .media-body h5 {
      font-size: 15px;
      color: #000000; }

#footer-top {
  background: #1d1d1c;
  color: #d6d6d6;
  padding-bottom: 20px; }
  #footer-top h3 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 38px;
    margin-bottom: 30px; }
  #footer-top .project-gallery ul > li {
    width: 50%;
    margin-bottom: 24px; }
  #footer-top .companies ul > li {
    padding-left: 0px;
    padding-right: 12px;
    width: 25%;
    margin-bottom: 18px; }
  #footer-top .contact h4 {
    font-size: 17px; }
  #footer-top .contact p {
    font-size: 14px; }
  #footer-top .contact h6 {
    font-size: 13px;
    line-height: 20px; }
  #footer-top .contact h5 {
    font-size: 15px; }
  #footer-top .contact hr {
    border-top: 1px solid #454644; }
  #footer-top .contact input[type="email"] {
    width: 232px;
    height: 44px;
    background: #292a28;
    border-radius: 0px;
    padding: 10px;
    border: solid 1px #424341;
    transition: border 0.3s; }
  #footer-top .contact button {
    width: 110px;
    height: 34px;
    border-radius: 0px;
    margin-top: 7px;
    background: #008c44;
    color: #d4e6da;
    border: none; }

footer p {
  font-size: 1.2rem;
  background: #0b0b0b;
  color: #5d5d5d;
  padding: 18px 0px;
  margin: 0px; }

@media (max-width: 1200px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .collapse.in {
    background: #F6F8F9;
    position: absolute;
    width: 100%;
    padding-left: 30px;
    z-index: 999999;
    left: 0;
    overflow-x: hidden;
    border-top: 1px solid #008c44; }

  #slider .carousel_on {
    bottom: 5%; }

  .media-body {
    width: 100%; }

  .media-left {
    padding-top: 15px !important; }

  .navbar-toggle {
    margin-top: 30px; }
    .navbar-toggle .icon-bar {
      background: #008c44; } }
@media (max-width: 1023px) {
  #ongoing_project .col-xs-6 {
    padding-bottom: 40px; }

  #news_event .news_div {
    margin-top: 80px; }

  #news_event .media-left img {
    height: auto;
    width: auto; } }
@media (max-width: 870px) {
  #slider .carousel-caption h1 {
    font-size: 30px; }

  #slider .form-div .form-control {
    font-size: 16px;
    height: 50px; }

  #slider .form-div .form-group:nth-child(1) select {
    min-width: 200px; }

  #slider .form-div .form-group:nth-child(2) select {
    min-width: 140px; }

  #slider .form-div .form-group:nth-child(3) select {
    min-width: 100px; }

  #slider .form-div .form-group {
    height: 50px; }

  #slider .form-div button {
    height: 50px;
    font-size: 25px; } }
@media (max-width: 768px) {
  header {
    font-size: 12px; }

  #carousel-example {
    min-height: 300px; }
    #carousel-example .carousel-inner {
      min-height: 300px; }

  .navbar-toggle {
    margin-top: 30px; }
    .navbar-toggle .icon-bar {
      background: #008c44; }

  .collapse.in {
    background: #F6F8F9;
    position: absolute;
    width: 104%;
    padding-left: 30px;
    z-index: 999999;
    left: 0;
    overflow-x: hidden;
    border-top: 1px solid #008c44; }

  #slider .slide-top .list-inline li:nth-child(1) span {
    font-size: 11px; }

  #slider .carousel-inner .item img {
    min-height: 300px; }

  #slider .slide-top .list-inline li:nth-child(1) {
    padding-left: 10px;
    padding-right: 10px; }

  #slider .slide-top .list-inline li:nth-child(1) .fa-map-o {
    font-size: 13px; }

  #slider .slide-top .list-inline li:nth-child(2) span {
    font-size: 11px; }

  #slider .slide-top .list-inline li:nth-child(2) .fa-mobile {
    margin-top: 8px;
    font-size: 18px; }

  #slider .slide-top .list-inline li:nth-child(4) .fa-linkedin {
    font-size: 15px; }

  #slider .slide-top .list-inline li:nth-child(3) .fa-facebook-f {
    font-size: 15px; }

  #slider .carousel-caption h1 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0px; }

  #slider .carousel-caption {
    top: 30%; }

  .media-body {
    width: 100%; }

  .media-left {
    padding-top: 15px !important; }

  #news_event .col-xs-12:nth-child(2) {
    margin-top: 60px; }

  #footer-top .contact button {
    float: left !important; }

  #news_event .carousel-caption {
    top: 0px;
    left: 20px;
    right: 20px; }

  #ongoing_project .col-xs-6 {
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px; }

  #completed-project .list_div {
    padding-bottom: 40px; }

  #slider .carousel_on {
    bottom: 20px; }
    #slider .carousel_on .glyphicon.glyphicon-triangle-bottom {
      top: -10px; }

  #slider .form-div .test .glyphicon {
    margin-left: 0px; }

  #slider .form-div .form-group:nth-child(1) select {
    min-width: 100px; }

  #slider .form-div .form-group:nth-child(2) select {
    min-width: 88px; }

  #slider .form-div .form-group:nth-child(3) select {
    min-width: 50px; }

  #slider .form-div .form-control {
    height: 38px;
    font-size: 12px; }

  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

  #ongoing_project .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px; }

  #news_event h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px; }

  #news_event .col-xs-12 {
    padding: 0px; } }
@media (max-width: 470px) {
  #slider .slide-top .list-inline li:nth-child(1) {
    padding-left: 4px;
    padding-right: 4px; }
    #slider .slide-top .list-inline li:nth-child(1) span {
      margin-left: 5px; }

  #slider .slide-top .list-inline li:nth-child(2) {
    padding-left: 4px;
    padding-right: 4px; }
    #slider .slide-top .list-inline li:nth-child(2) span {
      margin-left: 5px; }

  #slider .slide-top .list-inline li:nth-child(3) {
    padding-left: 5px;
    padding-right: 5px; }

  #slider .slide-top .list-inline li:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px; }

  #slider .carousel-caption h1 {
    font-size: 25px; }

  #slider .carousel_on {
    bottom: 0px; } }

/*# sourceMappingURL=1.css.map */
