html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto', sans-serif;
}
*:before, *:after{
  box-sizing: border-box;
}
img{width: 100%}
.list-inline{
  margin-left: 0px;
}
.list-inline_li{
  float: left;
  margin: 0;
  padding-left :15px;
  padding-right: 15px;
  overflow: hidden;
}

//Mixins-----------------------------------

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile{
  @media (max-width: #{$tablet-width-1px}){
    
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


//Header Potion
header{
  height: 107px;
  background: #f6f8f9;
  font-size: 1.6rem;
  font-weight: normal;
  .navbar-brand{
    padding: 0px;
  }
  .collapse.navbar-collapse{
    margin-top: 30px;
  }
  .container{
    padding-left: 30px;
  }
}
.nav>li>a{
  padding: 10px 5px;
}
.nav>li{padding: 0px 15px}
header .nav li .active{
  border-bottom: 4px solid #008c44;
}

header .nav a{
  color: #008c44;
  background: none;
  &:hover{
    color: #0d0d0d;
    background: none;
  }
  &:active{
    background: none;
  }
  &:focus{
    background: none;
  }
}

//Slider Portion
#slider{
  border-bottom: 17px solid #008c44;
  .slide-top{
    margin-bottom: -1px;
    .list-inline{
      margin-bottom: -38px;
      z-index: 99999;
      display: inline-block;
      position: inherit;
      background: #008c44;
      font-weight: bold;
      li{
        float: left;
        height: 38px;
        margin: 0px;
        overflow: hidden;
      }
      li:nth-child(1){
        padding-top: 10px;
        padding-left: 18px;
        padding-right: 35px;
        border-right: 1px solid #37423f;
        span{
          margin-left: 18px;
          font-size: 16px;
          font-weight: bold;
        }
        .fa-map-o{
          font-size: 18px;
        }
      }
      li:nth-child(2){
        font-weight: bold;
        padding-left: 18px;
        padding-right: 18px;
        border-right: 1px solid #37423f;
        span{
          margin-top: -2px;
          margin-left: 18px;
          font-size: 20px;
        }
        .fa-mobile{
          margin-top: 2px;
          font-size: 30px;
        }
      }
      li:nth-child(3){
        border-right: 1px solid #37423f;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        .fa-facebook-f{
          font-size: 20px;
          margin-top: 10px;
        }
      }
      li:nth-child(4){
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        .fa-linkedin{
          font-size: 20px;
          margin-top: 10px;
        }
      }
      a{
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .carousel_on{
    width: 100%;
    position: absolute;
    bottom: 116px;
    left: 50%;
    z-index: 15;
    padding-left: 0;
    margin-left: -50%;
    text-align: center;
    list-style: none;
  }
  #carousel-example{
    background: #eee;
    margin-top: -1px;
  }
  .carousel-control span{
    color: #1c7a49;
  }
  .carousel-inner{
    .item img{
      width: 100%;
    }
    .item .carousel-caption{

    }
  }
  .carousel-caption{
    top: 35%;
    h1{
      font-size: 45px;
      font-weight: normal;
    }
  }
  .form-div{
    .test{
      display: inline-block;
      display: -moz-inline-box;
      display: -webkit-inline-flex;
    }
    .form-group{
      float: left;
      margin: 0;
      overflow: hidden;
      background: #111111;
      border-right: 1px solid rgba(255,255,255,.2);
    }
    select{
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    .form-control{
      background: #111111;
      color: #ffffff;
      border-radius: 0px;
      border: none;
      height: 58px;
      font-size: 18px;
    }
    .form-group:nth-child(1) select{
      min-width: 255px;
    }
    .form-group:nth-child(2) select{
      min-width: 165px;
    }
    .form-group:nth-child(3) select{
      min-width: 125px;
    }
    .test .glyphicon{
      margin-left: -48px;
      color: #8dc63f;
    }
    .custom-search{margin-left: 0px !important;}
    button{
      border: none;
      border-radius: 0;
      background: #111111;
      height: 58px;
      font-size: 30px;
    }
    .form-control, button{
      box-shadow: none;
      &:hover,&:focus, &:active{
        box-shadow: none;
      }
    }
    button:focus {outline:0;}
  }


}
//Read portion
#read{
  background: #efefef;
  padding-top: 52px;
  h3{
    font-size: 25px;
    margin-top: 34px;
    margin-bottom: 67px;
  }
  h5{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 18px;
  }
  p{
    margin-bottom: 38px;
    a{
      color: #008c44;
      text-decoration: none;
      font-size: 15px;
    }
  }
}

//Ongoing Project portion
#ongoing_project{
  padding-top: 60px;
  span{
    float: right;
    right: 15px;
    font-size: 12px;
    color: #359e69;
  }
  .ongoing_div{
    display: inline-block;
    border: 1px solid #c4c4c4;
    padding-bottom: 25px;
  }
  h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
    color: #111111;
  }
  h5{
    font-size: 18px;
    margin-top: 30px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  h6{
    font-size: 15px;
    line-height: 20px;
  }
}

//Completed Project Portion
#completed-project{
  .container-fluid{
    background-image: url("../images/completed/Layer-13-copy1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    padding-bottom: 35px;
  }
  h4{
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .list_div{
    display: inline-block;
    h5{
      font-size: 24px;
      margin-top: 30px;
    }
    h6{
      font-size: 15px;
      line-height: 20px;
    }
  }
  span.glyphicon{
    color: #359e69;
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    border-bottom: 5px solid #8dc63f;
  }

  .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.75);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
  }

  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }

  .hovereffect h2 {
    text-transform:uppercase;
    color:#ffffff;
    text-align:center;
    position:relative;
    font-size:25px;
    margin-top: 0px;
    top:48%;
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
  }
  .hovereffect:hover{
    border-left: 2px solid #8dc63f;
    border-top: 2px solid #8dc63f;
    border-right: 2px solid #8dc63f;
    border-bottom: 7px solid #8dc63f;
  }
  .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }

  .hovereffect:hover h2{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }
}

//News & event portion
#news_event{
  color: #ffffff;
  background: #008c44;
  padding-top: 58px;
  padding-bottom: 64px;
  .carousel-caption{
    top:70px;
    left: 64px;
    text-align: left;
    p{font-size: 15px}
  }
  .carousel-indicators{
    top: 106.25%
  }
  .carousel-indicators li{
    background: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .carousel-indicators li.active{
    background: #292a28;
    border: none;
    height: 15px;
    width: 15px;
  }
  .carousel-inner{
    border: 1px solid #6d9339;
  }
  .item{
    background: #000000;
    img{
      opacity: 0.3;
    }
  }
  h3{
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 25px;
    span {
      float: right;
      a{
        color: #000000;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
  .media{
    padding-top: 20px;
    margin-top: 0px;
    display: inline-block;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    width: 100%;
  }
  .media-left{
    img{
      height: 100%;
      width: auto;
    }
  }
  .media-body{
    padding-top: 10px;
    padding-left: 15px;
    h4{
      font-size: 15px;
      font-weight: normal;
      text-transform: uppercase;
    }
    p{
      font-size: 15px;
    }
    h5{
      font-size: 15px;
      color: #000000;
    }
  }

}
//Footer top portion
#footer-top{
  background: #1d1d1c;
  color: #d6d6d6;
  padding-bottom: 20px;
  h3{
    font-size: 24px;
    font-weight: normal;
    margin-top: 38px;
    margin-bottom: 30px;
  }
  .project-gallery ul>li{
    @extend .list-inline_li;
    width: 50%;
    margin-bottom: 24px;
  }
  .companies ul>li{
    @extend .list-inline_li;
    padding-left: 0px;
    padding-right: 12px;
    width: 25%;
    margin-bottom: 18px;
  }
  .contact{
    h4{
      font-size: 17px;
    }
    p{
      font-size: 14px;
    }
    h6{
      font-size: 13px;
      line-height: 20px;
    }
    h5{
      font-size: 15px;
    }
    hr{
      border-top: 1px solid #454644;
    }
    input[type="email"] {
      width: 232px;
      height: 44px;
      background: #292a28;
      border-radius: 0px;
      padding: 10px;
      border: solid 1px #424341;
      transition: border 0.3s;
    }
    input[type="email"]:focus,
    input[type="email"].focus {

    }
    button{
      width: 110px;
      height: 34px;
      border-radius: 0px;
      margin-top: 7px;
      background: #008c44;
      color: #d4e6da;
      border: none;
    }
  }
}

//footer portion
footer p{
  font-size: 1.2rem;
  background: #0b0b0b;
  color: #5d5d5d;
  padding: 18px 0px;
  margin: 0px;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .collapse.in{
    background: #F6F8F9;
    position: absolute;
    width: 100%;
    padding-left: 30px;
    z-index: 999999;
    left: 0;
    overflow-x: hidden;
    border-top: 1px solid #008c44;
  }
  #slider .carousel_on{
    bottom : 5%;
  }
  .media-body{
    width: 100%;
  }
  .media-left{
    padding-top: 15px !important;
  }
  .navbar-toggle {
    margin-top: 30px;
    .icon-bar{background: #008c44;}
  }

}
@media (max-width: 1023px) {
  #ongoing_project .col-xs-6{
    padding-bottom: 40px;
  }
  #news_event .news_div{
    margin-top: 80px;
  }
  #news_event .media-left img{
    height: auto;
    width: auto;
  }
}
@media (max-width: 870px) {
  #slider .carousel-caption h1{
    font-size: 30px;
  }
  #slider .form-div .form-control{
    font-size: 16px;
    height: 50px;
  }
  #slider .form-div .form-group:nth-child(1) select{
    min-width:200px;
  }
  #slider .form-div .form-group:nth-child(2) select{
    min-width: 140px;
  }
  #slider .form-div .form-group:nth-child(3) select{
    min-width: 100px;
  }
  #slider .form-div .form-group{
    height: 50px;
  }
  #slider .form-div button{
    height: 50px;
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  header{
    font-size: 12px;
  }
  #carousel-example{
    min-height: 300px;
    .carousel-inner{
      min-height: 300px;
    }
  }
  .navbar-toggle {
    margin-top: 30px;
    .icon-bar{background: #008c44;}
  }
  .collapse.in{
    background: #F6F8F9;
    position: absolute;
    width: 104%;
    padding-left: 30px;
    z-index: 999999;
    left: 0;
    overflow-x: hidden;
    border-top: 1px solid #008c44;
  }
  #slider .slide-top .list-inline li:nth-child(1) span{
    font-size: 11px;
  }
  #slider .carousel-inner .item img{
    min-height: 300px;
  }
  #slider .slide-top .list-inline li:nth-child(1){
    padding-left: 10px;
    padding-right: 10px;
  }
  #slider .slide-top .list-inline li:nth-child(1) .fa-map-o{
    font-size: 13px;
  }
  #slider .slide-top .list-inline li:nth-child(2) span{
    font-size: 11px;
  }
  #slider .slide-top .list-inline li:nth-child(2) .fa-mobile{
    margin-top: 8px;
    font-size: 18px;
  }
  #slider .slide-top .list-inline li:nth-child(4) .fa-linkedin{
    font-size: 15px;
  }
  #slider .slide-top .list-inline li:nth-child(3) .fa-facebook-f{
    font-size: 15px;
  }
  #slider .carousel-caption h1{
    font-size: 30px;
    font-weight: normal;
    margin-top: 0px;
  }
  #slider .carousel-caption{
    top: 30%;
  }
  .media-body{
    width: 100%;
  }
  .media-left{
    padding-top: 15px !important;
  }
  #news_event .col-xs-12:nth-child(2){
    margin-top: 60px;
  }
  #footer-top .contact button{
    float: left !important;
  }
  #news_event .carousel-caption{
    top: 0px;
    left: 20px;
    right:20px;
  }
  #ongoing_project .col-xs-6{
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #completed-project .list_div{
    padding-bottom: 40px;
  }
  #slider .carousel_on{
    bottom: 20px;
    .glyphicon.glyphicon-triangle-bottom{
      top: -10px;
    }
  }
  #slider .form-div .test .glyphicon{
    margin-left: 0px;
  }
  #slider .form-div .form-group:nth-child(1) select{
    min-width:100px;
  }
  #slider .form-div .form-group:nth-child(2) select{
    min-width: 88px;
  }
  #slider .form-div .form-group:nth-child(3) select{
    min-width: 50px;
  }
  #slider .form-div .form-control{
    height: 38px;
    font-size: 12px;
  }
  select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  #ongoing_project .col-xs-12{
    padding-left: 5px;
    padding-right: 5px;
  }
  #news_event h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #news_event .col-xs-12{
    padding: 0px;
  }
}
@media (max-width: 470px) {
  #slider .slide-top .list-inline li:nth-child(1){
    padding-left: 4px;
    padding-right: 4px;
    span{
      margin-left: 5px;
    }
  }
  #slider .slide-top .list-inline li:nth-child(2){
    padding-left: 4px;
    padding-right: 4px;
    span{
      margin-left: 5px;
    }
  }
  #slider .slide-top .list-inline li:nth-child(3){
    padding-left: 5px;
    padding-right: 5px;
  }
  #slider .slide-top .list-inline li:nth-child(4){
    padding-left: 5px;
    padding-right: 5px;
  }
  #slider .carousel-caption h1{
    font-size: 25px;
  }
  #slider .carousel_on{
    bottom: 0px;
  }
}